/* styles.css */
.cls-1 {
    letter-spacing: -0.02em;
  }
  
  .cls-2 {
    letter-spacing: 0em;
  }
  
  .cls-3 {
    font-family: Altivo-Bold, Altivo;
    font-size: 36px;
    font-weight: 700;
  }
  
  .cls-3, .cls-4, .cls-5 {
    fill: #f2989f;
  }
  
  .cls-4 {
    font-family: Altivo-Regular, Altivo;
    font-size: 14px;
  }
  
  .cls-6 {
    letter-spacing: -0.02em;
  }
  
  .cls-5, .cls-7 {
    stroke-width: 0px;
  }
  
  .cls-7 {
    fill: #c2db9c;
  }
  
  .cls-8 {
    letter-spacing: -0.02em;
  }
  
  .cls-9 {
    letter-spacing: -0.01em;
  }
  
  .cls-10 {
    letter-spacing: -0.02em;
  }
  
  .cls-11 {
    letter-spacing: -0.02em;
  }